@import url('https://fonts.googleapis.com/css2?family=Old+Standard+TT:wght@400;700&family=Raleway:wght@400;700&display=swap');
//color scheme
$darkslategray: #003638;
$dark-green: #055052;
$aquamarine: #54b8bb;
$lightgolden: #f3f2c9;
$white: #fff;
$black: #000;
//Font family
$raleway: 'Raleway',
sans-serif;
$old-standard: 'Old Standard TT',
serif;